################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/PlUpload/Demo4.5.2/.vs
/PlUpload/Demo4.5.2/Demo4.5.2/bin
/PlUpload/Demo4.5.2/Demo4.5.2/obj/Debug
/PlUpload/Demo4.5.2/Demo4.5.2/Upload/Common
/PlUpload/Demo4.5.2/packages
